<div class="container my-container">
  <div class="card justify-content-md-center">
    <div class="card-header text-center">
      <h4>Authentification</h4>
    </div>
    <div class="card-body">
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <div class="mb-3">
        <input type="text" class="form-control form-control-sm" placeholder="Nom d'utilisateur"
               name="username" [(ngModel)]="authenticationRequest.username">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control form-control-sm" placeholder="Mot de passe"
               name="username" [(ngModel)]="authenticationRequest.password">
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <a [routerLink]="['/inscrire']" class="btn btn-sm btn-link">S'inscrire</a>
        <button type="button" class="btn btn-primary btn-sm" (click)="login()">
          <i class="fas fa-check"></i>&nbsp;Se connecter
        </button>
      </div>
    </div>
  </div>
</div>
